@font-face
{
font-family: Propaganda;
src: url('../images/propaganda.ttf');
}

body{
	background-color:#ED1C27
}

h1, h2, h3, h4, h5, h6{
	font-family: Propaganda;
}

h1{
	font-size: 40px;
}

section h1{
	font-size:30px;
}

figcaption{
	width:100%; text-align:center;
}

main{
	margin: 0 auto;
	padding:0px 10px;
	border-left:50px solid #024FA2; border-right:50px solid #024FA2; border-bottom:50px solid #024FA2;
	max-width:980px;
	width:100%;
	background-color: white;
}

header{
	margin: 0 auto;
	width:100%;
	max-width: 1000px;
	border-left:50px solid #024FA2; border-right:50px solid #024FA2;
	margin-bottom: -27px;
}

header img{
	width: 100%;
	
}

nav{
	font-family: Propaganda;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	float:left;
	background: #fff;
	margin-left: 20px;
	padding: 20px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

nav ul li a{
	color: black;
	text-decoration: none;
}

nav ul li a:hover{
	opacity: 0.7;
}

#gallery{
	min-height: 1040px;
	
}

#gallery-images{
	margin-left: 60px;
}

#gallery-images a
{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
	width: 200px;
}

#gallery-images a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}

#gallery-images img { 
	display: block; 
	width: inherit; 
}

#gallery-images figure{
	width: 200px;
}

#gallery-images a:nth-child(2n)
{
	-webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
}
#gallery-images a:nth-child(3n) { 
	-webkit-transform: rotate(-24deg);  
	-moz-transform: rotate(-24deg); 
	transform: rotate(-24deg); 
}
#gallery-images a:nth-child(4n)
{
	-webkit-transform: rotate(14deg);  
	-moz-transform: rotate(14deg); 
	transform: rotate(14deg); 
	clear: both;
	margin-top: -45px;
}
#gallery-images a:nth-child(5n)
{
	-webkit-transform: rotate(-18deg);  
	-moz-transform: rotate(-18deg); 
	transform: rotate(-18deg); 
}

#gallery-images a:nth-child(6n)
{
	-webkit-transform: rotate(24deg);  
	-moz-transform: rotate(24deg); 
	transform: rotate(24deg); 
}

#gallery-images a:nth-child(7n)
{
	-webkit-transform: rotate(24deg);  
	-moz-transform: rotate(24deg); 
	transform: rotate(24deg); 
	margin-left: 201px;
	margin-top: -202px;
}

#gallery-images a:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

p{
	font-family:Helvetica,Arial,"Comic Sans",sans-serif;
	font-size:15pt;
}

table{
	font-family:Helvetica,Arial,"Comic Sans",sans-serif;
	font-size:18pt;
	margin:auto;
}

figcaption{
	font-family:Helvetica,Arial,"Comic Sans",sans-serif;
	font-size:10pt;
}

.strike{
	text-decoration:line-through;
}

#northkorealandscape{
	margin:auto;
	width:100%;
}


.clear{
	clear:both;
}

#img2 img{width:49.5%}
#harv{float:right;}
#kimsung, #kimjong, #kimun{width:100%; /*250px*/}
#img1 img,#img3 img,#im1,#im2,#im3,video{width:100%;}


tr,td,th
{
border:black 1px solid;
}


table
{
width:60%;
border-collapse:collapse;
text-align:left;
}

#uline
{
  text-decoration:underline;
}